<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/estilo_index.css')}}">
    <title>Iinicio sesion</title>
</head>
<body>
    <div class="container2"></div>
    <h1>Inicio de sesion</h1>
    <form method="post" action="">
        <label for="">Usuario</label>
        <br>
        <input type="text" name="Usuario" required>
        <br>
        <label for="">Contraseña</label>
        <br>
        <input type="password" name="Contraseña" required>
        <br>

        <button>Ingresar</button>
        <br>
        <a href="#">Olvide mi Contraseña</a>
    </form>
</body>
</html>